<!DOCTYPE html>
<html lang="en">
<head>
<title>nikhilbharat</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>


	<h5 class="text-center">Nikhil Bharat Bangali (Udbastu) Samanway Samiti</h5>
		 <a href="/" class="btn btn-danger text-right">Back</a>
		 <a href="/typAnyThing2" class="btn btn-danger text-right">New Post</a>

		<div style="color:red">
					<tr th:each="imageGallery, hh : ${images}"><br>

						<td class="pic" th:text="${imageGallery.name}"></td><br>
						
						
						<td class="pic">
						<img
							th:src="@{${'/typAnyThing/display/'+ imageGallery.id}}"
							class="card img-fluid" style="width: 100%; height:40%;" alt="" /></td>
						<br>
						<td class="pic" th:text="${imageGallery.typ}"></td><br>
						<td th:text="${#dates.format({imageGallery.createDate}, 'dd-MM-yyyy')}" /></td>
						
										<td>
										
										<!-- 
										
					<a th:href="@{'/edit/' + ${imageGallery.id}}">Edit</a>
										
						 -->				
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/delete/' + ${imageGallery.id}}">Delete</a>
					<br><br>

				</td>
		</div>

		<br> <br>

	</h1>
	<br>
	<br>




	<div class="contact py-sm-5 py-4">






		<!--   #--------------------- ->
		<div class="container py-xl-4 py-lg-2">
		<!-- form -->
	</div>
	</div>
	<p class="text-center">
		<img src="/images/loader.gif" alt="loader"
			style="width: 150px; height: 120px;" id="loader">
	</p>
	<script src="/js/chat.js"></script>





</body>
</html>
